# {{ ansible_managed }}
[Service.{{ openio_oioswift_namespace }}-{{ openio_oioswift_servicename }}]
command=/usr/bin/oioswift-proxy-server /etc/oio/sds/{{ openio_oioswift_namespace }}/{{ openio_oioswift_servicename }}/proxy-server.conf
enabled=true
start_at_boot=true
on_die=respawn
group={{ openio_oioswift_namespace }},oioswift,{{ openio_oioswift_serviceid }}
uid=openio
gid=openio
env.PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
